version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: gestante-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
